@import '../../vars.scss';

.wrapper {
  padding: 24px;
  min-width: var(--table-min-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.centeredWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.header {
  text-transform: uppercase;
  font-size: var(--font-size-page-header);
  align-self: flex-start;
}

.message {
  font-size: 18px;
  font-weight: 600;
}
